<% provide(:title, "フォロワー") %>
<h1>Follower</h1>
<% @user.followers.each do |user| %>
<ul class="list-group" >
  <li class="list-group-item">

    <% if @user.image.attached? %>
    <%= image_tag @user.image.variant(resize: '200x200') %>
    <% end %>

    <div class="following">
      <%= user.name %>
      <%= link_to '詳細', user_path(user) %>
    </div>
  </li>
</ul>
<% end %>
