<div class="card text-white text-center bg-success mb-3 mx-auto card-top" style="max-width: 50rem;">
  <div class="card-header">北海道の4つのエリアについて</div>
  <img class="card-img-top" src="https://sapporokosodate.up.seesaa.net/image/E58C97E6B5B7E98193E59CB0E59BB3E382A8E383AAE382A2E58886E38191.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">北海道は大きく分けて道央、道北、道東、道南の4つのエリアに分かれています。<br>各エリアには色々な魅力があるので、穴場スポットを開拓していきましょう！！</p>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://sapporokosodate.up.seesaa.net/image/E98193E5A4AE-dc173.png" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title1">道央エリア</h4>
      <p class="card-text">＜主な観光地＞<br>札幌<br>小樽<br>ニセコ<br>洞爺湖<p>
      <p class="mb-0"><%= link_to '一覧', category_path(id: 1), class: 'btn btn-info btn-sm' %></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://sapporokosodate.up.seesaa.net/image/E98193E58C97-21384.png" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title2">道北エリア</h4>
      <p class="card-text">＜主な観光地＞<br>旭川<br>旭山動物園<br>宗谷岬<br>ファーム富田</p>
        <p class="mb-0"><%= link_to '一覧', category_path(id: 2), class: 'btn btn-info btn-sm' %></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://sapporokosodate.up.seesaa.net/image/E98193E69DB1-8a982.png" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title3">道東エリア</h4>
      <p class="card-text">＜主な観光地＞<br>釧路<br>帯広<br>北見<br>知床</p>
        <p class="mb-0"><%= link_to '一覧', category_path(id: 3), class: 'btn btn-info btn-sm' %></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://sapporokosodate.up.seesaa.net/image/E98193E58D97.png" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title4">道南エリア</h4>
      <p class="card-text">＜主な観光地＞<br>函館<br>五稜郭公園<br>奥尻<br>美利河ダム</p>
      <p class="mb-0"><%= link_to '一覧', category_path(id: 4), class: 'btn btn-info btn-sm' %></p>
    </div>
  </div>
</div>
