<% provide(:title, "投稿編集") %>
<div class="topic-new-wrapper" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">投稿編集</h1>

        <%= form_for(@item, url: item_path(@item), html: {method: "patch"}) do |f| %>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_field :description, class: 'form-control' %>
        </div>
        <%= f.submit "更新", class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
