h1, h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.text-blue {
  color: #00008B;
  font-weight: bold;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: blue;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('bg-top.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.user-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #B0E0E6;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #fff;

    .field {
      margin-bottom: 20px
    }
}

.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.8);
  a {
    color: #333 !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
    border-radius: 10px;
  }

  .nav-item {
    margin-right: 20px;
  }

  img {
    height: 40px;
  }
}

.users {
  font-size: 30px;
  font-weight: bold;
  color: #FFFACD;
}

footer{
  text-align: center;
  margin: 10px,0;
}
